<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/practiceWork/src/p075_join2_Args2Q/BoyFriend.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p075_join2_Args2Q.BoyFriend"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="practiceWork"/>
</launchConfiguration>
