<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/phone_prj/src/WooJae_phone_prj/PhoneTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="WooJae_phone_prj.PhoneTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="phone_prj"/>
</launchConfiguration>
